/*
|--------------------------------------------------------------------------
| UTILITY CLASSES
|--------------------------------------------------------------------------
*/

.float-left
  float left

.float-right
  float right

.clearfix
  clearfix()

.hide
  hide()

.block
  display block

.inline-block
  display inline-block

.inline
  display inline

.none
  display none

.hidden
  visibility hidden
