/*
|--------------------------------------------------------------------------
| image-url($file)
|--------------------------------------------------------------------------
| Returns a image path in a url()
|
| Ex:
| $IMG-PATH = '../img/'
| background: image-url('logo.png')
| => background: url('../img/logo.png')
*/
image-url($file)
    if $IMG-PATH is defined
        url($IMG-PATH + $file)
    else
        error('$IMG-PATH is not defined!')

/*
|--------------------------------------------------------------------------
| font-url($file)
|--------------------------------------------------------------------------
| Similar to image-url(), but for fonts
| This mixin is used by font-face() mixin
*/
font-url($file)
    if $FONT-PATH is defined
        url($FONT-PATH + $file)
    else
        error('$FONT-PATH is not defined!')