.blue-triangle
  triangle(200px, 100px, top, #007bff)

.red-triangle-bottom-right
  triangle(50px, 40px, bottom-right, #ff0048)

.green-triangle-left
  triangle(100px, 80px, left, #14d140)

.yellow-triangle-top-right
  triangle(160px, 40px, top-right, #d5ff63)
